<%- include('../partials/header') %>

<div class="container text-center">
    <div class="container shadow-lg mt-5">
        <img id="infoImg" src="../images/MHinfo.jpg" alt="">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img id="MHimages" src="../images/MH1.jpg" alt="">
                    <img id="MHimages" src="../images/MH2.jpg" alt="">
                    <img id="MHimages" src="../images/MH3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                    <img id="MHimages" src="../images/MH4.jpg" alt="">
                    <img id="MHimages" src="../images/MH5.jpg" alt="">
                    <img id="MHimages" src="../images/MHdead_bees.jpg" alt="">
            </div>
        </div>
     
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quidem eius inventore veniam quod. Animi unde eum ratione dolor adipisci explicabo. Nam quo dignissimos quisquam consequatur ipsa culpa autem vitae?
        Cumque, doloribus! Tenetur temporibus asperiores recusandae doloribus sapiente libero quia laboriosam veniam perferendis quaerat quam aliquid sequi, reiciendis commodi voluptatem inventore quae voluptas perspiciatis ab? Ut modi deleniti earum reiciendis.
        Quibusdam dignissimos corrupti distinctio iste. Similique atque sunt mollitia, hic voluptas iusto amet aspernatur at, expedita voluptatum in distinctio nihil repudiandae reiciendis perspiciatis omnis velit molestias quisquam. Cupiditate, accusamus sapiente?</h4>
    </div>
</div>

<%- include('../partials/footer') %>

