<%- include('../partials/header') %>

<div class="container text-center">
    <div class="container shadow-lg mt-3">
        <img id="infoImg" src="../images/MHinfo.jpg" alt="">
        <div class="row mt-3 mb-3">
            <div class="col-lg-4">
                <img id="MHimages" src="../images/MH1.jpg" alt="">
            </div>
            <div class="col-lg-4">
                <img id="MHimages" src="../images/MH2.jpg" alt="">
            </div>
            <div class="col-lg-4">
                <img id="MHimages" src="../images/MH3.jpg" alt="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-4">
                <img id="MHimages" src="../images/MH4.jpg" alt="">
            </div>
            <div class="col-lg-4">
                <img id="MHimages" src="../images/MH5.jpg" alt="">
            </div>
            <div class="col-lg-4">
                <img id="MHimages" src="../images/MHdead_bees.jpg" alt="">
            </div>
        </div>
        
        <h4 class="mb-3">The Asian giant hornet AKA Murder Hornet, including the color form referred to as the "Japanese giant hornet",[2][3] is the world's largest hornet. It is native to temperate and tropical East Asia, South Asia, Mainland Southeast Asia, and parts of the Russian Far East. It was also found in the Pacific Northwest of North America in late 2019,[4] with no reports since to suggest that they have become established there. They prefer to live in low mountains and forests, while almost completely avoiding plains and high-altitude climates. V. mandarinia creates nests by digging, co-opting pre-existing tunnels dug by rodents, or occupying spaces near rotted pine roots.[5] It feeds primarily on larger insects, colonies of other eusocial insects, tree sap, and honey from honey bee colonies.[6] The hornet has a body length of 45 mm (1.8 in), a wingspan around 75 mm (3.0 in), and a stinger 6 mm (1⁄4 in) long, which injects a large amount of potent venom.[7]
        The Asian giant hornet is often confused with the yellow-legged hornet (Vespa velutina), also known as the Asian hornet, an invasive species of major concern across Europe, including the UK.</h4>
    </div>
</div>

<%- include('../partials/footer') %>

