
.navbar {
    background-color: #fdff74;
    font-family: 'Noto Sans', sans-serif;
}
.navbar-brand {
    color: rgb(109, 109, 109)!important;
}

#navLink {
    border: 0px;
    background: rgb(0,0,0,0);
    color: rgb(109, 109, 109);
    outline: none;
}
#navLink:hover {
    transition: .5s;
    color: rgb(109, 109, 109);
}
#navLink:active {
    transform: translatey(-1px);
}
#navLink span {
    opacity: 0;
    transition: .5s;
}
#navLink:hover span {
    padding-right: 20px;
    opacity: 1;
}
