body, html {
   height: 100%;
   font-family: 'Sriracha', cursive;
   background-color: #feffc1;

}

h4 {
    color: rgb(39, 39, 39);
}
#jumbotron {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    background: rgba(39, 39, 39, 0.637);
    height: 30px;
}
#infoImg {
    width: 100%;
    height: 100%;
}
#MHimages {
    width: 50%;
    height: 50%;
    /* display: inline; */
}